@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header .line {
    background-color: #117050;
    height: 10px;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.bar {
    background-color: #117050;
    width: 168px;
    height: 22px;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Oswald', 'sans-serif';
    line-height: 100px;
    margin: 0;
    margin-bottom: 30px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Oswald', 'sans-serif';
    line-height: 45px;
    margin: 20px 0;
}

.button {
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
}


.button:hover {
    color: white;
    background-color: #454545;
}

.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-left img {
    width: 64px;
    height: 64px;
}

.header--right {
    display: flex;
    align-items: center;
}

.header--ul {
    display: flex;
    list-style: none;
}

.header--ul li {
    font-weight: bold;
    color: #117050;
    text-shadow: 0px 0px 1px green;
    padding: 15px;
    text-transform: uppercase;
}

.header--ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #117050;
}

.header--search form {
    display: flex;
}

.header--search input {
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.header--search button {
    margin-left: -30px;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.header--search img {
    width: 16px;
    height: 16px;
}

.header--menu {
    display: none;
    margin-left: 50px;
    cursor: pointer;
}

.header--menu img {
    width: 24px;
    height: 24px;
}

.mobile {
    display: none;
}

.mobile.active {
    display: block;
}

.mobile ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.mobile ul li {
    padding: 10px 0px;
    font-weight: bold;
}

.mobile ul li a {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #117050;
    text-shadow: 0px 0px 1px green;
}

.mobile ul h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 0;
}

.banner {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}

.banner--images {
    margin-top: 60px;
}

.banner--images img {
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}

.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1--content {
    padding: 100px;
}

.area1--quoete {
    margin-bottom: 30px;
}

.area1--text {
    margin-bottom: 50px;
    line-height: 25px;
}

.area1--img1 {
    background-color: green;
    height: 350px;
    background-image: url('../images/f2.jpg');
    background-size: cover;
    background-position: center;
}

.area1--img2 {
    grid-column: 2 / 3;
    grid-row: 1/3;
    background-image: url('../images/f1.jpg');
    background-size: cover;
    background-position: center;
}

.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2--content {
    padding: 100px;
}

.area2--text {
    margin-bottom: 50px;
    line-height: 25px;
}

.area2--img1 {
    background-color: green;
    height: 450px;
    background-image: url('../images/f4.jpg');
    background-size: cover;
    background-position: center;
}

.area2--img2 {
    grid-column: 1 / 2;
    grid-row: 1/3;
    background-image: url('../images/f3.jpg');
    background-size: cover;
    background-position: center;
}

.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3--content {
    padding: 250px 80px;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-position: left;
}

.area3--text {
    margin-bottom: 50px;
    line-height: 25px;
}

.area3--img1 {
    background-image: url('../images/f5.jpg');
    background-size: cover;
    background-position: center;
}

.area4 {
    display: grid;
    grid-template-columns: 600px 1fr;
    background-color: #e8e9ee;
}

.area4--content {
    padding: 150px;
}

.area4--text {
    margin-bottom: 50px;
    line-height: 25px;
}

.area4--img1 {
    background-image: url('../images/bg3.jpg');
    background-position: left;
}


.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
    z-index: 999;
    visibility: hidden;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

footer {
    background-color: #333333;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

footer a {
    text-decoration: underline;
    color: #FFF;
}

@media (min-width: 766px) and (max-width: 1140px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 426px) and (max-width: 765px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header--navbar {
        display: none;
    }

    .header--menu {
        display: block;
        margin-left: 20px;
    }

    .header--search input {
        max-width: 300px;
    }

    h1 {
        font-size: 4rem;
        line-height: 65px;
    }

    h2 {
        font-size: 2rem;
        line-height: 35px;
    }

    .banner--images img {
        width: 70px;
        height: 70px;
        border: 3px solid #117050;
        border-radius: 50%;
        margin-right: 10px;
    }

    .area1,
    .area2,
    .area3,
    .area4 {
        grid-template-columns: 1fr;
    }

    .area1--content,
    .area2--content,
    .area3--content,
    .area4--content {
        padding: 40px;
    }

    footer {
        font-size: 16px;
        padding: 40px 20px;
    }

}

@media (max-width: 425px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header--navbar {
        display: none;
    }

    .header--menu {
        display: block;
        margin-left: 20px;
    }

    .header--search input {
        max-width: 110px;
    }

    h1 {
        font-size: 3rem;
        line-height: 50px;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 30px;
    }

    .banner--images img {
        width: 70px;
        height: 70px;
        border: 3px solid #117050;
        border-radius: 50%;
        margin-right: 10px;
    }

    .area1,
    .area2,
    .area3,
    .area4 {
        grid-template-columns: 1fr;
    }

    .area1--content,
    .area2--content,
    .area3--content,
    .area4--content {
        padding: 40px;
    }

    footer {
        font-size: 16px;
        padding: 40px 20px;
    }

}